
.blogbox{
    border-top-color: #12926F;
    border-top-width: 0.3rem;
    border-radius: 0.5rem;
    max-width: 47rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(241, 241, 241);
}

.blogbox_header>h2{
    color: black;
    padding: 1rem 0;
    border-bottom-width: 2px;
    border-bottom-color: #b8cac5;
    font-size: 18px;
    font-weight: 500;
}

.blogbox_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.blog_boxScroller{
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
    
}
.blog_boxScroller>button{
    padding:0.5rem 1rem ;
    min-width: 4rem;
    border-radius: 0.2rem;
    background-color:#12926F;
}