.card{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;

}
.imgdiv{
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height: 150px;
    width: 150px;
    border-radius: 0.5rem;
    margin: auto;
    
}
.imgdiv>img{
    object-fit: contain;
    width: 120px;
    height: 120px;
    margin: auto;
    padding-top: 1rem;
    
}

.cardtitle{
    font-size: 16px;
    color:#30363c;
    font-family: sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    -line-clamp: 1;
    font-weight: bold;
    font-size: 16px;
    color:#30363c;
    font-family: sans-serif;

}